.chat {
  width: 80vw;
  height: 80vh;
  display: flex;
  margin-top: 100px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat__sidebar {
  flex: 0.25;
}

.chat__chats {
  flex: 0.75;
}
